CSharp/Profisee/.vs
CSharp/Profisee/RestfulAPI/bin
CSharp/Profisee/RestfulAPI/obj
CSharp/Profisee/UnitTests/bin
CSharp/Profisee/UnitTests/obj
Python/__pycache__
Python/Profisee/__pycache__
Python/Profisee/Restful/__pycache__
Python/UnitTests/__pycache__

PowerShell/ProfiseeRESTful.log
Python/Connect Generator Connect Strategy.log

*.log

Python/build
Python/dist

Python/settings_private.json


workarea_freeman_canonical_model.dbml

workarea_generate_diagram.dbml

CSharp/.vs
CSharp/Orchestration/obj
CSharp/Orchestration/bin

CSharp/OrchestrationCLU/obj
CSharp/OrchestrationCLU/bin

CSharp/RestfulAPI/bin
CSharp/RestfulAPI/obj

CSharp/UnitTests/bin
CSharp/UnitTests/obj

