CSharp/Profisee/.vs
CSharp/Profisee/RestfulAPI/bin
CSharp/Profisee/RestfulAPI/obj
CSharp/Profisee/UnitTests/bin
CSharp/Profisee/UnitTests/obj
Python/__pycache__
Python/Profisee/__pycache__
Python/Profisee/Restful/__pycache__
Python/UnitTests/__pycache__

PowerShell/ProfiseeRESTful.log
Python/Connect Generator Connect Strategy.log

*.log

Python/build
Python/dist